YOUTRACK_BASE_URL=https://tracker.avgst.ru
YOUTRACK_TOKEN=
BITRIX_WEBHOOK_URL=
BITRIX_PORTAL_URL=https://avgstroy.bitrix24.ru
BITRIX_GROUP_ID=987
BITRIX_DEFAULT_RESPONSIBLE_ID=
WEBHOOK_SECRET=
USER_MAP=n.yakuschenko:1
SQLITE_PATH=/data/sync.sqlite
